 @import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@500 & family= Inconsolata:wght@200 & display=swap'); 
 *{
    padding:0;
    margin: 0;
    box-sizing: border-box;
} 
body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background:#7fe20e96 ;
    padding: 20px; 
    justify-content: center;
}
header{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(148, 49, 126);
    
}

a{
    text-decoration: none;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    
}

header ul li{
    margin: 10px;
}

 

h1{
    font-size: 34px;
    color: rgb(252, 245, 238);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
h2{
    font-size: 20px;
    color: rgb(19, 17, 15);
    font-family: Cambria Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-wrap: wrap; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
}

.presentacion{
    font-size: 20px;
    color: rgb(19, 17, 15);
    font-family: 'Dancing Script', cursive;
    font-family:'Inconsolata'monospace;
    margin-top: 50px;
    margin-bottom:30px;
}
.contenido{
    display: flex ; 
    width:100%;
    animation: contenido 30s infinite alternate linear;
    margin-top: 40px;
    margin-bottom: 20px;
} 
.contenido-item {
    flex:0 0 100%;
    text-align:center;
    padding:20px;
    box-sizing: border-box;
   
}

img {
    max-width: 100%;
    max-height: 400px;
    width: auto;
    border-radius: 100%;
    box-shadow: 5px 5px 25px;
    margin-bottom: 10px;
}
    

h2 {
    font-size: 20px;
    color: rgb(19, 17, 15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    margin-bottom: 5px;
}


p {
    font-size: 16px; 
    color: rgb(19, 17, 15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5px;
}
@keyframes contenido{
    0% {
        transform: translateX(0%);
        animation-timing-function: step-start; 
      }
      33.33% {
        transform: translateX(-100%);
        animation-timing-function: step-start; 
      }
      66.67% {
        transform: translateX(-200%);
        animation-timing-function: step-start; 
      }
}
    
footer{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

/* @media only screem and (max-width:600px) [class= slider-frame]{widht:100%} 