 @import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@500 & family= Inconsolata:wght@200 & display=swap'); 
 *{
    padding:0;
    margin: 0;
    box-sizing: border-box;
} 
body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background:#7fe20e96 ;
    padding: 20px; 
    justify-content: center;
}
header{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(148, 49, 126);
    
}

a{
    text-decoration: none;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    
}

header ul li{
    margin: 10px;
}

 

h1{
    font-size: 34px;
    color: rgb(252, 245, 238);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
h2{
    font-size: 20px;
    color: rgb(19, 17, 15);
    font-family: Cambria Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-wrap: wrap; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
}

.presentacion{
    font-size: 20px;
    color: rgb(19, 17, 15);
    font-family: 'Dancing Script', cursive;
    font-family:'Inconsolata'monospace;
    
}
.contenido{
    display: flex ;
    flex-wrap: wrap;
    overflow:scroll;
    width:auto;
    height:500px;
    flex-direction:row;
    justify-content: space-between;
    /* margin:20px; */
    
    background-color: rgb(247, 247, 135);
} 
.contenido-item {
    width:100%;
    height:100%;
    flex:1 0 auto;
    margin: 0px 5px 0px;
    padding:40px;
    justify-content: center;
    background-color: aqua;
    align-items: center; */
}

.contenido-item img {
    border-radius: 100%;
    margin:5px;
    box-shadow: 5px 5px 25px;
    transition: all 25 linear;
    
}

.contenido-item h2 {
    font-size: 20px;
    color: rgb(19, 17, 15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5px;

}


.contenido-item p {
    font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
    color: rgb(19, 17, 15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

/* @media only screem and (max-width:600px) [class= slider-frame]{widht:100%} 